<div class="col-md-10 col-md-offset-1">
  <div class="col-md-5">
   <strong>商品信息</strong>
	</div>
	<div class="col-md-1">
    <strong>单价(元)</strong>
	</div><br>
 <% @mark_products.each do |product|%>
 <div class="item">
  <div class="col-md-2">
   <%=link_to image_tag(product.picture,size:"80x80"),product_path(product)%>
  </div>
  <div class="col-md-3">
    <%=link_to product.name, product_path(product)%>
  </div>
   <div class="col-md-1">
     <%= product.price%>
   </div>
</div><br>
 <%end%>
 <%= will_paginate @mark_products%>

</div>