<div class="normal_border">
	<div id="comment_lists">
<%= render 'comment_lists'%>
</div>
<h4><%= link_to "查看全部#{@comments_count}条评论", all_comment_path(@product), class: "pull-right"%></h4>
</div>
<hr>

<!--评论表单-->
<%= render 'comment_form'%>
