<div class="col-md-10 col-md-offset-1">
	<div class="col-md-5">
   <strong>商品信息</strong>
	</div>
	<div class="col-md-1">
    <strong>单价(元)</strong>
	</div><br>
 <%= @orders.each do |order|%>

 <%end%>
</div>