<div class="col-md-8 col-md-offset-2">
	<div class="col-md-5">
   <strong>商品信息</strong>
	</div>
	<div class="col-md-1">
    <strong>单价(元)</strong>
	</div><br>
 <% @items.each do |item|%>
 <div class="item">
  <div class="col-md-2">
   <%= image_tag(item.product.picture,size:"80x80")%>
  </div>
  <div class="col-md-3">
    <%= item.product.name%>
  </div>
   <div class="col-md-1">
     <%= item.product.price%>
   </div>
</div><br>
 <%end%>
</div>