<div class="effect-container">
 <% @products.each do |product|%>   
 <div class="product_border">
    <div class="normal_border">
   <%= link_to (image_tag product.picture,size: "250x250"), product_path(product)%>
   <div><%= link_to product.name, product_path(product)%></div>
   <div class="red_color"><strong><%=product.price%></strong></div>
    </div>
</div>
 <%end%>
 </div>
 <script type="text/javascript">
$(function() {
        var bannerSlider = new Slider($('#banner_tabs'), {
            time: 5000,
            delay: 400,
            event: 'hover',
            auto: true,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });
        $('#banner_tabs .flex-prev').click(function() {
            bannerSlider.prev()
        });
        $('#banner_tabs .flex-next').click(function() {
            bannerSlider.next()
        });
    })

 $(function(){
    <!--example:  class: "img-style row1 image_preview"-->

            $('.row1').adipoli({
                'startEffect' : 'normal',
                'hoverEffect' : 'popout'
            });
             $('.row2').adipoli({
                'startEffect' : 'overlay',
                'hoverEffect' : 'sliceDown'
            });
            $('.row3').adipoli({
                'startEffect' : 'transparent',
                'hoverEffect' : 'boxRandom'
            });
            $('.row4').adipoli({
                'startEffect' : 'overlay',
                'hoverEffect' : 'foldLeft'
            });
            $('.row5').adipoli({
                'startEffect' : 'transparent',
                'hoverEffect' : 'boxRainGrowReverse'
            });
            $('.row6').adipoli({
                'startEffect' : 'grayscale',
                'hoverEffect' : 'normal'
            });
        });

 </script>