<div class="col-md-12">

<div id="banner_tabs" class="flexslider">
        <ul class="slides">
            <li>
                <a title="" target="_blank" href="#">
                    <%= image_tag "banner1.jpg", size: "1920x482", style: "background: url(alpha.png) no-repeat center;"%>
                </a>
            </li>
            <li>
                <a title="" href="#">
                    <%= image_tag "banner2.jpg",size: "1920x482", style: "background: url(alpha.png) no-repeat center;"%>
                </a>
            </li>
            <li>
                <a title="" href="#">
                    <%= image_tag "banner3.jpg", size: "1920x482", style: "background: url(alpha.png) no-repeat center;"%>
                </a>
            </li>
        </ul>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="javascript:;">Previous</a></li>
            <li><a class="flex-next" href="javascript:;">Next</a></li>
        </ul>
        <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>2</a></li>
        </ol>
    </div>
   
 <h2>全部商品</h2><hr>
 <%= render 'show_products'%>
</div>