<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a>首页</a></li>
  <li role="presentation"><a href="#">所有产品</a></li>
  <li role="presentation"><a href="#"> 新品</a></li>
  <li role="presentation"><a href="#"> 打折</a></li>
  <li class="pull-right" role="presentation"><a href="#"> 商品分类</a></li>
  <li class="pull-right" role="presentation"><a href="#"> 收藏夹</a></li>
  <li class="pull-right" role="presentation pull-right"><a href="#"> 购物车</a></li>
  <li class="pull-right" role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>#</li>
       <li>#</li>
        <li>#</li>
    </ul>
  </li>

    
</ul>